{%- extends "layout.html" %}
{% block body %}
{% if pagename[:"examples"|length] == "examples" %}
<div class="container-fluid">
<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active-tab">
        <a id="python-tab" href="#python-tab" role="tab" data-toggle="tab">Python</a>
    </li>
    <li role="presentation">
        <a id="octave-tab" href="#octave-tab" role="tab" data-toggle="tab">Octave</a>
    </li>
    <li role="presentation">
        <a id="java-tab" href="#java-tab" role="tab" data-toggle="tab">Java</a>
    </li>
  </ul>

</div><!--div role="tabpanel"-->
</div><!--div class="container-fluid"-->

{{ body }}

<script>
$('#python-tab').on('show.bs.tab', function (e) {
    $('ul[id^=tabs] a[href^=#python]').tab('show');
});
$('#octave-tab').on('show.bs.tab', function (e) {
    $('ul[id^=tabs] a[href^=#octave]').tab('show');
});
$('#java-tab').on('show.bs.tab', function (e) {
    $('ul[id^=tabs] a[href^=#java]').tab('show');
});
</script>

{% else %}
{{ body }}
{% endif %}
{% endblock %}
